.container {
  padding: 0 2rem;
  background: #000000;
  min-width: fit-content;

}

.carousel {
  display: flex;
  flex-direction: row; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  }


.title {
    color: #f4cb9b;
    font-size: 42px;
    font-family: 'Masiku', sans-serif;
    text-align: center;
    text-shadow:
        -3px -3px 0 #fff,
        /* Top-left shadow (black) */
        1px -1px 0 #fff,
        /* Top-right shadow (black) */
        -3px 3px 0 #fff,
        /* Bottom-left shadow (black) */
        1px 1px 0 #fff;
    /* Bottom-right shadow (black) */
}

.title img {
  align-items: center;
  width: 40%;
  height: auto;
}

.productCard {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text content */
  margin-top: 20px; /* Adjust as needed for spacing */
  transition: transform 0.2s ease-in-out;
}

.productCard:hover {
  /* Apply a scale transformation on hover */
  transform: scale(1.05);
  /* Add a box shadow for a subtle elevation effect */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.productCard img {
  width: 600px; /* Adjust as needed */
  min-width: 300px;
  height: auto; /* Maintain aspect ratio */
}

.productCard h3 {
    color: #fff;
    text-align: center;
}

.productCard p {
    color: #f4cb9b;
    text-align: center;
}

.prevButton,
.nextButton {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  outline: none;
  color: #fff;
  margin: 30px;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.prevButton:hover,
.nextButton:hover {
  /* Change background color and add a subtle shadow on hover */
  background-color: #f4cb9b;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff; /* Change text color on hover */
}